
  <div class="d-flex justify-content-start border shadow-sm">
      <a href="<%= user_list_url(id: @l.id) %>" class="btn bg-transparent btn-link flex-fill text-decoration-none">
      <span>
        <div class="d-flex mx-auto p-0">
            <div class="flex-column text-start m-1 ms-0">
              <span class="h6 light"><%= @l.name %> </span>
            </div>
        </div>
      </span>
      </a>
  </div>