<div class="card">
  <div class="card-body">
    <div class="card-title"><span>Redeem a gift card</span></div>
    <div class="row"><%= render 'form', gift_card: @gift_card %></div>
    <div class="row">
      <strong><h4 class="card-title">Current Account Balance:<span class="text-success"> $<%= @user.balance %></strong></span></h4>
    </div>
    
  </div>
</div>
