<div class="table-responsive">
  <table class="table table-striped table-light table-bordered">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Description/Notes</th>
        <th scope="col">Original Balance</th>
      </tr>
    </thead>
    <tbody>
      <% @user.gift_cards.each do |gift_card|%>
        <tr>
          <td><%= gift_card.created_at.strftime('%B %d, %Y') %></td>
          <td><%= gift_card.notes %></td>
          <td><%= gift_card.balance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
