<br><div class="container mt-5 text-center">
  <div class="row"><%= @store.name %></div>
  <div class="row"><%= @store.description %></div>
  <div class="row"><%= @store.mission_statement %></div>
  <div class="row"><%= image_tag("#{@store.logo}", class:"img-fluid") %> </div>
</div>