<div class="fluid-container mx-5 px-5 pt-3 pb-1" style="background:#e6f9ff">
  <div class="d-flex flex-row align-items-center">
    <div class="flex-col" >
      <%= link_to image_tag(Faker::Placeholdit.image(size:'40x40'), class:"rounded"), root_path, class:"rounded ms-2" %>
    </div>
    <div class="flex-col ms-3">
      <div class="fs-6">James Tillman</div>
    </div>
    <div class="flex-col flex-fill ms-3">
      <%= link_to 'Edit', edit_user_registration_path, class:"text-decoration-none" %>
    </div>
  </div>
</div>


<div class="container">
  <div class="d-flex flex-row justify-content-evenly">
    <div class="col-9 mt-3">
      
      <div class="row py-2">
        <div class="fs-3 lead fw-bolder text-start">Create Review</div>
      </div>
      <div class="row">
        <div>This should be a display of item and title</div>
      </div>
<hr>
      <div class="row py-2">
        <div class="fs-5 fw-bolder text-start">Overall Rating</div>
      </div>
      <div class="row">This should be a bunch of stars, big ones too, if you got em</div>
<hr>
      <div class="row py-2">
        <div class="fs-5 fw-bolder text-start">Add a headline</div>
      </div>
      <div class="row">form to add text for headline for review</div>
<hr>
    <div class="row py-2">
        <div class="fs-5 fw-bolder text-start">Add a photo or video</div><br>
        <div class="fs-6 text-muted"><small>Shoppers find images and videos more helpful than text alone.</small></div>
      </div>
      <div class="row">should be a form upload of image</div>
<hr>
    <div class="row py-2">
        <div class="fs-5 fw-bolder text-start">Add a written review</div>
      </div>
      <div class="row">form gigantic text box to "What did you like or dislike? What did you use this product for?</div>

    <div class="d-flex flex-row justify-content-end my-3">
      <div class="col-4 text-end">
        <%= link_to 'submit', root_path, class:"btn btn-primary w-25 btn-sm" %>
      </div>
    </div>

    </div>
  </div>
</div>

  <div class="row m-5">
    <%= render "/item/shared/explore_more_items"%>
  </div>