<div class="d-flex flex-row justify-content-around">
    
    <div class="col pt-5 mt-5 ms-5 ps-5">
    <em>
      <div class="display-5 fw-bolder text-white">Get Slime today and</div>
      <div class="display-5 fw-bolder text-white">start shopping like a pro</div>
      <div class="h5 fw-normal text-white text-end pt-1 pe-3"> *only $99</em></div>
    </div>
    
    <div class="col pt-5 mt-3 me-5 pe-5 p-3">
      <%= image_tag("main-logo", class:"img-fluid") %>
    </div>
  </div>


