  <div class="card">
    <div class="card-body p-2 text-center">
      Due-To COVID-19 Expect Shipping Delays Worldwide. <a href="/covid_message">We Stand with first responders</a>.
    </div>
  </div>