<div class="d-flex ms-2 me-2 justify-content-center my-5">
  <div class="shadow flex-fill text-center p-3 mx-5 rounded" style="background: rgb(255, 255, 255, 0.9);">
      Due-To COVID-19 <i>Expect Shipping Delays Worldwide.</i> <%= link_to 'We Stand with first responders', scamazon_cares_path, class:"" %>
  </div>
</div>