  <div class="card text-center">
    <div class="card-body">
      Due-To COVID-19 Expect Shipping Delays Worldwide.<%= link_to 'We Stand with first responders', scamazon_cares_path, class:"p-2" %>
    </div>
  </div>