<div class="container ms-2 me-2">
  <div class="card text-center">
    <div class="card-body lead">
      Due-To COVID-19 <i>Expect Shipping Delays</i> Worldwide.<%= link_to 'We Stand with first responders', scamazon_cares_path, class:"p-1" %>
    </div>
  </div>
</div>