<div class="container-fluid d-inline-flex">
  <div class="hstack">
    
    <div class="container-fluid position-relative justify-content-center">
      <div>
        <div class="text-left h5">Daily Deals!</div>
        <div id="carouselExampleControls" class="carousel slide ms-auto" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/placeholder" class="d-block w-100" alt="/assets/placeholder">
            </div>
            <div class="carousel-item">
              <img src="/assets/placeholder" class="d-block w-100" alt="/assets/placeholder">
            </div>
            <div class="carousel-item">
              <img src="/assets/placeholder" class="d-block w-100" alt="/assets/placeholder">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="container-fluid position-relative justify-content-center">
      <div>
        <div class="text-left h5">Silly Savings!</div>
        <div id="carouselExampleControls" class="carousel slide ms-auto" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/placeholder" class="d-block w-100" alt="/assets/placeholder">
            </div>
            <div class="carousel-item">
              <img src="/assets/placeholder" class="d-block w-100" alt="/assets/placeholder">
            </div>
            <div class="carousel-item">
              <img src="/assets/placeholder" class="d-block w-100" alt="/assets/placeholder">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="container-fluid position-relative justify-content-center">
      <div>
        <div class="text-left h5">Bangin' Bargins!</div>
        <div id="carouselExampleControls" class="carousel slide ms-auto" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/placeholder" class="d-block w-100" alt="/assets/placeholder">
            </div>
            <div class="carousel-item">
              <img src="/assets/placeholder" class="d-block w-100" alt="/assets/placeholder">
            </div>
            <div class="carousel-item">
              <img src="/assets/placeholder" class="d-block w-100" alt="/assets/placeholder">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="container-fluid position-relative justify-content-center">
      <div>
        <div class="text-left h5">Sign In</div>
        <div id="carouselExampleControls" class="carousel slide ms-auto" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/placeholder" class="d-block w-100" alt="/assets/placeholder">
            </div>
            <div class="carousel-item">
              <img src="/assets/placeholder" class="d-block w-100" alt="/assets/placeholder">
            </div>
            <div class="carousel-item">
              <img src="/assets/placeholder" class="d-block w-100" alt="/assets/placeholder">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

</div>