<div class="d-flex ">
    <a href="<%= edit_user_registration_url %>" class="btn btn-outline-secondary flex-fill ">
      <div class="d-flex mx-auto  align-items-center p-2">
        <img src="https://cdn0.iconfinder.com/data/icons/padlock-and-key/96/men-locked-account-512.png" class="p-1" alt="Your Account Icon" height="60" width="60"/>
          <div class="flex-column ps-2 text-start p-1">
            <h6 class="card-title">Login & Security</h6>
            <p class="card-text">Edit login, and account information.</p>
          </div>
      </div>
    </a>
</div>