<div class="d-flex ">
    <a href="/users/:user_id/lists" class="btn btn-outline-secondary flex-fill ">
      <div class="d-flex mx-auto  align-items-center p-2">
        <img src="https://cdn2.iconfinder.com/data/icons/strongicon-vol-18/24/office-25-512.png" class="p-1" alt="Your Account Icon" height="60" width="60">
          <div class="flex-column ps-2 text-start p-1">
            <h6 class="card-title">Your Lists</h6>
            <p class="card-text">View, edit, and create custom Shopping Lists</p>
          </div>
      </div>
    </a>
</div>