<div class="d-flex ">
    <a href="/slime" class="btn btn-outline-secondary flex-fill ">
      <div class="d-flex mx-auto  align-items-center p-2">
        <img src="https://cdn2.iconfinder.com/data/icons/bubble-gum/64/200_bubble-gum-bubblegum-slime-splat-512.png" class="p-1" alt="Your Account Icon" height="60" width="60">
          <div class="flex-column ps-2 text-start p-1">
            <h6 class="card-title">Slime</h6>
            <p class="card-text">View benefits and join Scamazon Slime</p>
          </div>
      </div>
    </a>
</div>