




  <div class="">
    <div><%= link_to image_tag(Faker::Placeholdit.image(size: '185x185'), class:"bg-transparent"), item_path(@item, id: @item.id)%><br></div>
    <div class="h6"><%= link_to "#{@item.name}", item_path(@item), class:"link text-primary bg-white" %><br></div>
    <div><%=link_to render("/item/ratings/small_rating", item: @item), item_path(@item), class:"link text-decoration-none bg-transparent" %></div>
    <div class="text-danger h6">$<%= link_to @item.price, item_path(@item), class:"link-danger text-decoration-none bg-transparent" %></div>  
  </div>


