<h1>Conditions of Use</h1>

<p><strong>Last updated: May 3, 2021</strong></p>


<p>Welcome to Scamazon.com. Scamazon.com Services LLC and/or its affiliates ("Scamazon") provide website features and other products and services to you when you visit or shop at Scamazon.com, use Scamazon products or services, use Scamazon applications for mobile, or use software provided by Scamazon in connection with any of the foregoing (collectively, "Scamazon Services"). By using the Scamazon Services, you agree, on behalf of yourself and all members of your household and others who use any Service under your account, to the following conditions.</p>


<h2>Please read these conditions carefully.</h2>

<p>We offer a wide range of Scamazon Services, and sometimes additional terms may apply. When you use an Scamazon Service (for example, Your Profile, Gift Cards, Scamazon Video, Your Media Library, Scamazon devices, or Scamazon applications) you also will be subject to the guidelines, terms and agreements applicable to that Scamazon Service ("Service Terms"). If these Conditions of Use are inconsistent with the Service Terms, those Service Terms will control.</p>


<h2>PRIVACY</h2>

<p>Please review our <a href="https://www.Scamazon.com/privacy" target="_blank">Privacy Notice</a>, which also governs your use of Scamazon Services, to understand our practices.</p>


<h2>ELECTRONIC COMMUNICATIONS</h2>

<p>When you use Scamazon Services, or send e-mails, text messages, and other communications from your desktop or mobile device to us, you may be communicating with us electronically. You consent to receive communications from us electronically, such as e-mails, texts, mobile push notices, or notices and messages on this site or through the other Scamazon Services, such as our Message Center, and you can retain copies of these communications for your records. You agree that all agreements, notices, disclosures, and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>


<h2>COPYRIGHT</h2>

<p>All content included in or made available through any Scamazon Service, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software is the property of Scamazon or its content suppliers and protected by United States and international copyright laws. The compilation of all content included in or made available through any Scamazon Service is the exclusive property of Scamazon and protected by U.S. and international copyright laws.</p>


<h2>TRADEMARKS</h2>

<p><a href="www.google.com" target="_blank">Click here to see a non-exhaustive list of Scamazon trademarks.</a> In addition, graphics, logos, page headers, button icons, scripts, and service names included in or made available through any Scamazon Service are trademarks or trade dress of Scamazon in the U.S. and other countries. Scamazon's trademarks and trade dress may not be used in connection with any product or service that is not Scamazon's, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Scamazon. All other trademarks not owned by Scamazon that appear in any Scamazon Service are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Scamazon.</p>


<h2>PATENTS</h2>

<p>One or more patents owned by Scamazon apply to the Scamazon Services and to the features and services accessible via the Scamazon Services. Portions of the Scamazon Services operate under license of one or more patents. <a href="google.com" target="_blank">Click here to see a non-exhaustive list of applicable Scamazon patents and applicable licensed patents.</a></p>


<h2>LICENSE AND ACCESS</h2>

<p>Subject to your compliance with these Conditions of Use and any Service Terms, and your payment of any applicable fees, Scamazon or its content providers grant you a limited, non-exclusive, non-transferable, non-sublicensable license to access and make personal and non-commercial use of the Scamazon Services. This license does not include any resale or commercial use of any Scamazon Service, or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of any Scamazon Service or its contents; any downloading, copying, or other use of account information for the benefit of any third party; or any use of data mining, robots, or similar data gathering and extraction tools. All rights not expressly granted to you in these Conditions of Use or any Service Terms are reserved and retained by Scamazon or its licensors, suppliers, publishers, rightsholders, or other content providers. No Scamazon Service, nor any part of any Scamazon Service, may be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of Scamazon. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Scamazon without express written consent. You may not use any meta tags or any other "hidden text" utilizing Scamazon's name or trademarks without the express written consent of Scamazon. You may not misuse the Scamazon Services. You may use the Scamazon Services only as permitted by law. The licenses granted by Scamazon terminate if you do not comply with these Conditions of Use or any Service Terms.</p>


<h2>YOUR ACCOUNT</h2>


<h2>REVIEWS, COMMENTS, COMMUNICATIONS, AND OTHER CONTENT</h2>

<p>You may post reviews, comments, photos, videos, and other content; send e-cards and other communications; and submit suggestions, ideas, comments, questions, or other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights (including publicity rights), or otherwise injurious to third parties or objectionable, and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam" or unsolicited commercial electronic messages. You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content. Scamazon reserves the right (but not the obligation) to remove or edit such content, but does not regularly review posted content.</p>

<p>If you do post content or submit material, and unless we indicate otherwise, you grant Scamazon a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, perform, translate, create derivative works from, distribute, and display such content throughout the world in any media. You grant Scamazon and sublicensees the right to use the name that you submit in connection with such content, if they choose. You represent and warrant that you own or otherwise control all of the rights to the content that you post; that the content is accurate; that use of the content you supply does not violate this policy and will not cause injury to any person or entity; and that you will indemnify Scamazon for all claims resulting from content you supply. Scamazon has the right but not the obligation to monitor and edit or remove any activity or content. Scamazon takes no responsibility and assumes no liability for any content posted by you or any third party.</p>


<h2>INTELLECTUAL PROPERTY COMPLAINTS</h2>

<p>Scamazon respects the intellectual property of others. If you believe that your intellectual property rights are being infringed, good luck. <a href="https://www.google.com">/a></p>


<h2>RISK OF LOSS</h2>

<p>All purchases of physical items from Scamazon are made pursuant to a shipment contract. This means that the risk of loss and title for such items pass to you upon our delivery to the carrier.</p>


<h2>RETURNS, REFUNDS AND TITLE</h2>

<p>Scamazon does not take title to returned items until the item arrives at our fulfillment center. At our discretion, a refund may be issued without requiring a return. In this situation, Scamazon does not take title to the refunded item. We also can refuse whatever, for whatever reason we god damn please.</p>


<h2>PRODUCT DESCRIPTIONS</h2>

<p>Scamazon attempts to be as accurate as possible. However, Scamazon does not warrant that product descriptions or other content of any Scamazon Service is accurate, complete, reliable, current, or error-free. If a product offered by Scamazon itself is not as described, your sole remedy is to return it in unused condition.</p>


<h2>PRICING</h2>

<p>"List Price" means the suggested retail price of a product as provided by a manufacturer, supplier, or seller. We regularly check List Prices against prices recently found on Scamazon and other retailers. Certain products may have a "Was Price" displayed, which is determined using recent price history of the product on Scamazon.</p>

<p>With respect to items sold by Scamazon, we cannot confirm the price of an item until you order. Despite our best efforts, a small number of the items in our catalog may be mispriced. If the correct price of an item sold by Scamazon is higher than our stated price, we will, at our discretion, either contact you for instructions before shipping or cancel your order and notify you of such cancellation. Other merchants may follow different policies in the event of a mispriced item.</p>

<p>We generally do not charge your credit card until after your order has entered the shipping process or, for digital products, until we make the digital product available to you.</p>


<h2>APP PERMISSIONS</h2>

<p>When you use apps created by Scamazon, such as the Scamazon App or Kindle App, you may grant certain permissions to us for your device. Most mobile devices provide you with information about these permissions. </p>


<h2>SANCTIONS AND EXPORT POLICY</h2>

<p>You may not use any Scamazon Service if you are the subject of U.S. sanctions or of sanctions consistent with U.S. law imposed by the governments of the country where you are using Scamazon Services. You must comply with all U.S. or other export and re-export restrictions that may apply to goods, software (including Scamazon Software), technology, and services.</p>


<h2>OTHER BUSINESSES</h2>

<p>Parties other than Scamazon operate stores, provide services or software, or sell product lines through the Scamazon Services. In addition, we provide links to the sites of affiliated companies and certain other businesses. If you purchase any of the products or services offered by these businesses or individuals, you are purchasing directly from those third parties, not from Scamazon. We are not responsible for examining or evaluating, and we do not warrant, the offerings of any of these businesses or individuals (including the content of their Web sites). Scamazon does not assume any responsibility or liability for the actions, product, and content of all these and any other third parties. You should carefully review their privacy statements and other conditions of use.</p>


<h2>DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY</h2>

<p>THE ScaMAZON SERVICES AND ALL INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING SOFTWARE) AND OTHER SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE ScaMAZON SERVICES ARE PROVIDED BY ScaMAZON ON AN "AS IS" AND "AS AVAILABLE" BASIS, UNLESS OTHERWISE SPECIFIED IN WRITING. ScaMAZON MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE ScaMAZON SERVICES, OR THE INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING SOFTWARE) OR OTHER SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE ScaMAZON SERVICES, UNLESS OTHERWISE SPECIFIED IN WRITING. YOU EXPRESSLY AGREE THAT YOUR USE OF THE ScaMAZON SERVICES IS AT YOUR SOLE RISK.</p>

<p>TO THE FULL EXTENT PERMISSIBLE BY LAW, ScaMAZON DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. ScaMAZON DOES NOT WARRANT THAT THE ScaMAZON SERVICES, INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING SOFTWARE) OR OTHER SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE ScaMAZON SERVICES, ScaMAZON'S SERVERS OR ELECTRONIC COMMUNICATIONS SENT FROM ScaMAZON ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. TO THE FULL EXTENT PERMISSIBLE BY LAW, ScaMAZON WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF ANY ScaMAZON SERVICE, OR FROM ANY INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING SOFTWARE) OR OTHER SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH ANY ScaMAZON SERVICE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES, UNLESS OTHERWISE SPECIFIED IN WRITING.</p>


<h2>DISPUTES</h2>

<p>Any dispute or claim relating in any way to your use of any Scamazon Service will be adjudicated in the state or Federal courts in King County, Washington, and you consent to exclusive jurisdiction and venue in these courts. We each waive any right to a jury trial.</p>


<h2>APPLICABLE LAW</h2>

<p>By using any Scamazon Service, you agree that applicable federal law, and the laws of the state of Washington, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort that might arise between you and Scamazon.</p>


<p><a href="https://www.Scamazon.com/" target="_blank">https://www.Scamazon.com</a> </p>


<h2>ADDITIONAL SCAMAZON SOFTWARE TERMS</h2>

<p>The following terms (“Software Terms”) apply to any software (including any updates or upgrades to the software) and any related documentation we make available to you in connection with Scamazon Services (the "Scamazon Software").</p>

<ol>
	<li><strong>Use of the Scamazon Software.</strong> You may use Scamazon Software solely for purposes of enabling you to use the Scamazon Services as provided by Scamazon, and as permitted by these Conditions of Use and any Service Terms. You may not incorporate any portion of the Scamazon Software into other programs or compile any portion of it in combination with other programs, or otherwise copy (except to exercise rights granted in this section), modify, create derivative works of, distribute, assign any rights to, or license the Scamazon Software in whole or in part. All software used in any Scamazon Service is the property of Scamazon or its software suppliers and is protected by United States and international copyright laws.</li>
	<li><strong>Use of Third Party Services.</strong> When you use the Scamazon Software, you may also be using the services of one or more third parties, such as a wireless carrier or a mobile software provider. Your use of these third party services may be subject to the separate policies, terms of use, and fees of these third parties.</li>
	<li><strong>No Reverse Engineering.</strong> You may not reverse engineer, decompile or disassemble, tamper with, or bypass any security associated with the Scamazon Software, whether in whole or in part.</li>
	<li><strong>Updates.</strong> We may offer automatic or manual updates to the Scamazon Software at any time and without notice to you.</li>
	<li><strong>Government End Users.</strong> If you are a U.S. Government end user, we are licensing the Scamazon Software to you as a "Commercial Item" as that term is defined in the U.S. Code of Federal Regulations (see 48 C.F.R. § 2.101), and the rights we grant you to the Scamazon Software are the same as the rights we grant to all others under these Conditions of Use.</li>
	<li><strong>Conflicts.</strong> In the event of any conflict between these Conditions of Use and any other Scamazon or third-party terms applicable to any portion of Scamazon Software, such as open-source license terms, such other terms will control as to that portion of the Scamazon Software and to the extent of the conflict.</li>
</ol>

<h2>LEGAL DESIGNATION AND NECCASARY HOMAGE TO GOD KING AND FUTURE MARS RULER JEFF BEZOS</h2>
  <p>Jeff Bezos, herby reffered to by <i>"Daddy Bezos"</i> or <i>"The Lord Kind Almighty, Conquerer of Worlds, Money, and Man, God King Bezos"</i> per his preferences, is the sole leader and god of this universe. By using Scamazon, or any of its associated products you agree, for the rest of your less than his life on this planet, and all potential future lifes he might give unto you, to worship Daddy Bezos as your sole god, dismissing any claim spiritual or otherwise to any other false idol. Thank you for your life Daddy Bezos, we are eternally your slaves in Capitalism. Amen.</p>+


<h2>NOTICE AND PROCEDURE FOR MAKING CLAIMS OF INTELLECTUAL PROPERTY INFRINGEMENT</h2>

<p>If you believe that your intellectual property rights have been infringed, good luck finding us bucko <a href="https://www.google.com" target="_blank">form</a>. This form may be used to report all types of intellectual property claims including, but not limited to, copyright, trademark, and patent claims.</p>

<p>We respond quickly to the concerns of rights owners about any alleged infringement, and we terminate repeat infringers in appropriate circumstances.</p>

<p>We offer the following alternative to our online form for copyright complaints only. You may submit written claims of copyright infringement to our Copyright Agent at:</p>


<pre>legal_intern@Scacamazon.com</pre>


<p>Written claims concerning copyright infringement must include the following information, and are taken extremely seriously, and not at all buried or handed off to the interns who DO get paid.</p>

<ul>
	<li>A physical or electronic signature of the person authorized to act on behalf of the owner of the copyright interest;</li>
	<li>A description of the copyrighted work that you claim has been infringed upon;</li>
	<li>A description of where the material that you claim is infringing is located on the site;</li>
	<li>Your address, telephone number, and e-mail address;</li>
	<li>A statement by you that you have a good-faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
	<li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>
</ul>





