<div class="container">
  <h4>FAQ about Scamazon and Covid-19 Virus</h4>  
  <span>Scamazon's operations continue but delivery times may be longer than usual.</span>
  <p>Last updated on August 5, 2021.</p>

  <h5>1. What do I need to know about placing an order during the pandemic?</h5>
  <p>Delivery times may be longer than usual. You can find updated delivery times on the product detail page for each item, and in checkout. Do not use delivery addresses for buildings that may be closed due to the current provisions (e.g. schools).</p>

  <h5>2. Why are some, Prime and Non-prime, items taking longer to ship?</h5>
  <p>We are committed to fast and free shipping all year, including on millions of items available for One-Day and Same-Day Delivery. We continue to make regular, critical updates to our logistics, transportation, supply chain, and other processes, while adhering to extensive health and safety measures to protect our associates as they pick, pack and ship products, to meet our demand and improve delivery speeds. We’ve also added capacity in our network and hired over 250,000 employees last year in the U.S. alone.</p>


  <h5>3. Is it safe to receive or return orders?</h5>
  <p> We are still processing orders and returns. To learn more about what we are doing to safely provide in-home deliveries.</p>
  
  <p> For se refer to the <a href="HTTPS://WWW.WHO.INT/EMERGENCIES/DISEASES/NOVEL-CORONAVIRUS-2019" target="_blank">World Health Organization website</a> .</p>
  
  <h5>4. What is Scamazon doing about price gouging?</h5> 
  <p> Scamazon does not allow price gouging. We have a long-standing policy prohibiting price gouging and we actively monitor our store for violations. If we find violations, we will remove the offer and take action on the bad actor, including removing selling privileges, blocking accounts, or reporting to law enforcement.</p>
  
  <h5>5. What is Scamazon doing to keep customers and employees safe?</h5> 
  <p>We prioritize the safety and health of our employees and have invested millions of dollars to provide a safe workplace, which is why at the onset of the pandemic we moved quickly to make more than 150 COVID-19 related process changes—from enhanced cleaning and social distancing measures to supplying personal protective gear such as masks and gloves. We’ve implemented temperature checks, disinfectant spraying, and are piloting COVID testing at many of our sites. </p>

  <p>Learn more about what we're doing to ensure the safety and support of our customers, communities, and employees during this difficult time on the </p>
  
  <h5>6. How can I help those impacted by COVID-19?</h5>
  <p>Some of the ways you can help include donating to Feeding America, the American Red Cross, and Save the Children. Or, just ask: "Alexa, make a donation to Feeding America COVID-19 Response."</p>
  
  <h5>7. Can healthcare or business customers buy supplies to help its workplace? </h5>
  <p> Yes. Scamazon Business helps healthcare or government organizations access medical supplies and PPE to control the spread of viruses, such as Covid-19 and the flu. Other types of businesses and organizations looking for cleaning, safety, and healthcare supplies, including protective apparel, safety displays, waste management and more to keep their employees safe, can access PPE supplies.</p>
</div>
