<div class="container">

  <div style="background: linear-gradient(to bottom, #2f6f62 5%, #ffffff 100%);">
    
    <div class="row">
      <%= render 'application/shared/01_banner_spot'%>
    <div/>


    <div class="row">
      <%= render 'application/shared/covid_alert_card_link' %>
    </div>

    <div class="row">
      <p> put the row of cards here?</p>
    </div>
  
  </div>

</div>