<h4>Privacy Notice</h4>

<div class="container-sm"><p>I mean... do you really think theres such a thing. Never used our service? We already know about you. And our signup legal text says we actually own you, so Im not sure what kind of expectation of privacy your looking for. Just go buy some stuff</p></div>