<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 lh-1">Seed(ing) Scamazon</h1>
        <p class="lead">Have you come here to shill empty fake products, and create a boatload of them so this place doesn't feel so empty??? Well I have greate new for you, you are in the right place! Use caution! This process can take a moment or two, So please be patient!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <%= render "/application/forms/seed"%>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <%= image_tag("hero_shot.png", alt:"Screenshot from the frontpage of Amazon", class: "rounded-lg-3 img-fluid") %>
      </div>
    </div>