<div class="container">
  <div class="row">

    <div class="col text-center px-5">
        <div class="container py-5 px-5" style="background:#2f6f62;">
          <div class="py-4">
          
          <div class="row">
            <div class="col"><h1 class="display-6 fw-bolder text-white lh-1">slime</h1></div>
          </div>
          <div class="row align-items-start justify-content-center m-0 p-0 lh-1">
            <div class="col-2"><%= image_tag 'smile', class:"w-50 m-0 p-0"%></div>
          </div>
          </div>
          
          <div class="row">
            <div class="col p-3">
              <div class="pb-2">
              <h1 class="display-6 fw-bolder text-white lh-1">New members can get Slime</h1>
              <h1 class="display-6 fw-bolder lh-1" style="color:#622F6F">free for 90 days</h1>
              <p class="lead text-white fw-bolder ">Free Delivery, gross slime, deals, and more</p></div>
              <p class="text-white">Only $1.99/month <em>(plus tax)</em> after trial. Cancel when we say.</p>
              <div class="pt-2"><%= link_to "Try Slime free for 90 days", slime_user_path, class:"btn btn-primary btn-lg w-25"%><br></div>
            </div>
          </div>


      </div>
    </div>
  </div>
</div>
