<div class="card text-center">
    <h5 class="card-title h5 text-start mt-3 ms-3"><strong>Explore more items</strong></h5>
        <div class="row">
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


        <div class="card-body">
        <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="false">
              <%= render '/item/shared/components/explore_list', user: @user %>
            </div>
            <div class="carousel-item">
              <%= render '/item/shared/components/explore_list', user: @user %>
            </div>
            <div class="carousel-item">
              <%= render '/item/shared/components/explore_list', user: @user %>
            </div>
            <div class="carousel-item">
              <%= render '/item/shared/components/explore_list', user: @user %>
            </div>
          </div>

        </div>
        </div>
      </h5>
      
  </div>